<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Contacts List</title>
</head>
<body>
<h1>Contacts Management</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone number</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contact : ${contacts}">
        <td th:text="${contact.id}"></td>
        <td th:text="${contact.firstName}"></td>
        <td th:text="${contact.lastName}"></td>
        <td th:text="${contact.email}"></td>
        <td th:text="${contact.phoneNumber}"></td>
        <td>
            <a th:href="@{/contact/edit/{id}(id=${contact.id})}">Edit</a>
            <a th:href="@{/contact/delete/{id}(id=${contact.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/contact/create">Create Contact</a>
</body>
</html>